#import "../../template/base.typ": letter-base

#show: letter-base.with(
    sender: (
        name: "{{ config.sender.address.name }}",
        street: "{{ config.sender.address.street }}",
        zip: "{{ config.sender.address.zip }}",
        city: "{{ config.sender.address.city }}",
        phone: "{{ config.sender.phone | replace('tel:', '') | replace('-', ' ') }}",
        email: "{{ config.sender.email }}",
        website: "{{ config.sender.website }}",
    ),
    tax: (
        office: "{{ config.sender.tax.office }}",
        number: "{{ config.sender.tax.number }}",
    ),
    bank: (
        name: "{{ config.sender.bank.name }}",
        iban: "{{ config.sender.bank.iban }}",
        bic: "{{ config.sender.bank.bic }}",
    ),
    recipient: (
        name: "{{ letter.recipient.name }}",
        {% if letter.recipient.extra %}
        extra: "{{ letter.recipient.extra }}",
        {% endif %}
        street: "{{ letter.recipient.street }}",
        zip: "{{ letter.recipient.zip }}",
        city: "{{ letter.recipient.city }}",
    ),
    subject: "{{ letter.subject }}",
)

{{ letter.opening }}

{{ content }}

{{ letter.closing }}
#v(1cm)
{{ config.sender.address.name }}
