.venv/
__pycache__/
.ruff_cache/
.mypy_cache/
.env


data/*
data/invoices/*
!data/invoices/
!data/customers.example.yml
!data/invoices/example.pdf
!data/invoices/example.yml
!data/invoices/config.example.toml

templates/*
!templates/*.tex
!templates/*.cls
