.venv/
__pycache__/
.ruff_cache/
.mypy_cache/
.env

config.toml

data/*
data/invoices/*
!data/invoices/
!data/customers.example.yml
!data/invoices/example.pdf
!data/invoices/example.yml

templates/*
!templates/*.tex
