#import "base.typ": letter-base

#show: letter-base.with(
{% include '_sender.typ.j2' %}
{% include '_recipient.typ.j2' %}
    subject: "{{ letter.subject }}",
)

{{ letter.opening }}

{{ content }}

{{ letter.closing }}
#v(1cm)
{{ config.sender.address.name }}
